{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@services": "./src/services",
          "@utils": "./src/utils",
          "@types": "./types",
          "@src": "./src"
        }
      }
    ],
    ["styled-components", { "ssr": true }]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
